<script id="tmpl-event-list" type="text/x-handlebars-template">


  {{#each data}}
    {{#foo val}} {{/foo}}
    {{ #else }} {{ /else }}
    {{ @index }}
    <article class="list-item horizontal {{ this }}">
      <img src='{{ this.image }}' />
        <span>{{this.type}}</span>
        <h3>{{name}}</h3>
        {{ this.summary.else }}
    </article>
    {{! a comment }}
    {{!-- another comment --}}
  {{/data}}


</script>